.console-container{
  background-color: white;
  width: 100%;
}

.cars-content{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 8%;
  padding-top: 8%;
  cursor: pointer;
  color: #000000;
}

.car-status{
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-top: auto;
  margin-bottom: auto;
}
